In [18]:
import pandas as pd

In [2]:
df = pd.read_csv("extended_dataset.txt")

In [4]:
df.dropna(inplace = True)
df.drop_duplicates(inplace = True)

In [5]:
df.info

<bound method DataFrame.info of        age         workclass   fnlwgt  education  education-num  \
0       39         State-gov    77516  Bachelors             13
1       50  Self-emp-not-inc    83311  Bachelors             13
2       38           Private   215646    HS-grad              9
3       53           Private   234721       11th              7
4       28           Private   338409  Bachelors             13
...    ...               ...      ...        ...            ...
10000   27           Private   273213    7th-8th              4
10001   38       Federal-gov  1020859  Assoc-voc             11
10002   66  Self-emp-not-inc    44589    1st-4th              2
10003   55           Private   218831  Preschool              1
10004   75           Private  1043560  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
10000            Divorced     Prof-specialty         Husband
10001  Married-civ-spouse       Tech-support       Unmarried
10002             Widowed     Prof-specialty       Unmarried
10003           Separated   Transport-moving       Own-child
10004             Widowed  Handlers-cleaners  Other-relative

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
10000               Other    Male             0             0              19
10001  Asian-Pac-Islander    Male             0             0              11
10002  Asian-Pac-Islander  Female             0             0              19
10003               Other  Female             0             0              18
10004  Amer-Indian-Eskimo  Female             0             0              98

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
...              ...    ...
10000    El-Salvador   >50K
10001  United-States  <=50K
10002         Mexico  <=50K
10003    Puerto-Rico   >50K
10004         Canada  <=50K

[10005 rows x 15 columns]>

In [87]:
df_count = df['race'].value_counts() 
print(df_count)

race
White                 2039
Other                 2031
Amer-Indian-Eskimo    2019
Black                 1974
Asian-Pac-Islander    1942
Name: count, dtype: int64

In [24]:
df_male = df[df['sex' ] == 'Male']
df_male['age'].mean()

np.float64(52.76483604908469)

In [85]:
df_bachelors = df[df['education'] == 'Bachelors']
bachelor_percent = int(df_bachelors.shape[0])/int(df.shape[0])*100
print(bachelor_percent)

6.116941529235382

In [53]:
df_advanced = df.query(f"education == 'Bachelors' or education == 'Masters' or education == 'Doctorate'")
df_50k = df_advanced.query(f"salary == '>50K'")
print(df_50k)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
61,80,Federal-gov,163793,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Other,Male,53682,3378,84,Canada,>50K
146,66,Private,675507,Masters,14,Never-married,Exec-managerial,Other-relative,Amer-Indian-Eskimo,Male,0,0,66,England,>50K
250,62,Private,1139753,Doctorate,16,Never-married,Craft-repair,Not-in-family,White,Female,0,0,22,Cuba,>50K
254,77,Self-emp-not-inc,786019,Bachelors,13,Widowed,Sales,Own-child,Asian-Pac-Islander,Female,0,0,19,Puerto-Rico,>50K
287,57,Private,1220878,Bachelors,13,Married-civ-spouse,Farming-fishing,Wife,Asian-Pac-Islander,Female,0,0,22,Canada,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9885,88,Private,1062086,Doctorate,16,Widowed,Adm-clerical,Own-child,Asian-Pac-Islander,Male,0,0,61,Canada,>50K
9910,22,Private,872277,Bachelors,13,Divorced,Tech-support,Other-relative,Other,Female,0,0,93,United-States,>50K
9918,76,Private,557411,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,95,Puerto-Rico,>50K
9942,72,Private,840640,Bachelors,13,Divorced,Prof-specialty,Other-relative,Black,Male,0,0,31,United-States,>50K
9945,81,Self-emp-not-inc,1426066,Masters,14,Never-married,Handlers-cleaners,Own-child,Black,Female,13725,3980,13,India,>50K

In [56]:
advanced_moreThan50k_percent = int(df_50k.shape[0])/int(df_advanced.shape[0])*100
print(advanced_moreThan50k_percent)

25.052966101694917

In [59]:
df_notAdvanced = df.query(f"education != 'Bachelors' and education != 'Masters' and education != 'Doctorate'")
df_n50k = df_notAdvanced.query(f"salary == '>50K'")
print(int(df_n50k.shape[0])/int(df_notAdvanced.shape[0])*100)

24.799802882838488

In [62]:
print(df['hours-per-week'].max())

99

In [67]:
min_work = df['hours-per-week'].min()
df_minWork = df[df["hours-per-week"] == min_work]
df_min_50k = df_minWork.query(f"salary == '>50K'")
print(int(df_min_50k.shape[0])/int(df_minWork.shape[0])*100)

32.69230769230769

In [82]:
df_salaryMoreThan50k = df[df['salary'] == '>50K']
print(df_salaryMoreThan50k['native-country'].mode())
df_india_50k = df_salaryMoreThan50k[df_salaryMoreThan50k['native-country'] == 'India']
print(int(df_india_50k.shape[0])/int(df_salaryMoreThan50k.shape[0])*100)

0    India
Name: native-country, dtype: object
11.343523732904263

In [84]:
print(df_salaryMoreThan50k['occupation'].mode())

0    Transport-moving
Name: occupation, dtype: object